extends layout

block content
	.container
		.row
				h2 About Us
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum et turpis accumsan hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
			