extends layout

block content
		.container
			.jumbotron
				.container
					h1	Hello World
					p	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum et turpis accumsan hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;