extends layout

block content
			.jumbotron
				.container
					h1 This is Jade
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum et turpis accumsan hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
			.container
				.row
					.col-md-4
						h2 About Us
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum et turpis accumsan hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
						a.btn.btn-default(href='#') View Details
					.col-md-4
						h2 Services
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum et turpis accumsan hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
						a.btn.btn-default(href='#') View Details
					.col-md-4
						h2 Get In Touch
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum et turpis accumsan hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
						a.btn.btn-default(href='#') View Details